{%  extends "::base.html.twig" %}

{%  block content %}

<div class="container">
    {% block container %}





    <h1>ACA Shop</h1>
    <h2>Please confirm or edit your billing and shipping addresses</h2>
    <h3>Is your shipping address still </h3><br/>
        <h4> {{ shippingAddress.street }} </h4>
        <h4> {{ shippingAddress.city }} {{ shippingAddress.state }} {{ shippingAddress.zip }} </h4>
        <h4>   </h4>
        <br>
    <h3>Is your billing address still </h3><br/>
        <h4> {{ billingAddress.street }} </h4>
        <h4> {{ billingAddress.city }} {{ billingAddress.state }} {{ billingAddress.zip }} </h4>
        <h4>   </h4>
        <br>


    <form action="/verified" method = "post">
        <p>
            <br/><br/>
            <input type="submit" name = "Verified" value="Yes"/>
            <br/></p>
    </form>





    {% endblock %}
</div>

{% endblock %}