{%  extends "::base.html.twig" %}

{%  block container %}





    <!DOCTYPE html>
    <html>
    <head>
        <style>
            table {
                width:100%;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
            table.names tr:nth-child(even) {
                background-color: #eee;
            }
            table.names tr:nth-child(odd) {
                background-color:#fff;
            }
            table.names th	{
                background-color: black;
                color: white
            }
        </style>
    </head>
<body>




            <h2>Shopping Cart</h2>




    <table class="names" style="width:100%;">
        <tr>
            <th>Item Number</th>
            <th>Item Name</th>
            <th>Unit Price</th>
            <th>Qty</th>
            <th>Total Price</th>
            <th>Action</th>
        </tr>

        {% for cartProduct in cartProducts %}

        <tr>
            <td>{{ cartProduct.id }}  </td>
            <td>{{ cartProduct.name }}</td>
            <td>{{ cartProduct.price }} </td>
            <td>{{ cartProduct.qty }}</td>
            <td> 2000.00 </td>
            <td>

                <form name="quantityForm" action="/update_cart_qty" method="post">
                    <input type="hidden" name="cart_product_id" value="{{ cartProduct.id }}"/>
                    <input type="text" size="3" name="qty" value="{{ cartProduct.qty }}"/>
                    <input type="submit" value="Update" class="button btn-primary"/>
                </form>

                <form name="deleteForm" action="/delete_cart_item" method="post">
                    <input type="hidden" name="cart_product_id" value="{{ cartProduct.id }}"/>
                    <input type="submit" value="Delete" class="button btn-danger"/>
                </form>

            </td>
        </tr>

            {% endfor %}

    </table>

</body>
</html>



{% endblock %}